{{#author}}
<div class="{{#unless cover_image}} headerFrame {{/unless}}  header">
    {{#if cover_image}}
    <div class="headerWithImage overflow-hidden">
        <img class="authorCoverImage" src="{{img_url cover_image}}" />
        <div class="authorContainer">
            <div class="authorWithLogo">
                {{#if profile_image}}
                <img class="authorCardLogo" src="{{img_url profile_image}}" alt="" />
                {{/if}}
                <div class="authorInfoContainer">
                    <h2 class="authorName">{{ name }}</h2>
                    {{#if bio}}
                    <div class="authorDescription">{{ bio }}</div>
                    {{/if}}
                </div>
            </div>
            <div class="authorCardLinksContainer">
                {{#if @site.facebook}}
                <a
                    class="icon"
                    href="{{facebook_url @site.facebook}}"
                    target="_blank"
                    rel="noopener"
                    >
                    <img src="{{asset "icons/facebook.svg"}}" alt="facebook"/>
                </a>
                    {{/if}}
                    {{#if @site.twitter}}
                    <a
                        class="icon"
                        href="{{twitter_url @site.twitter}}"
                        target="_blank"
                        rel="noopener"
                        >
                        <img src="{{asset "icons/twitter.svg"}}" alt="twitter"/>
                    </a>
                        {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="authorHeaderWithoutImage">
        <div class="authorWithLogo">
            {{#if profile_image}}
            <img class="authorCardLogo" src="{{img_url profile_image}}" alt="" />
            {{/if}}
            <div class="authorInfoContainer">
                <h2 class="authorName">{{ name }}</h2>
                {{#if bio}}
                <div class="authorDescription">{{ bio }}</div>
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{#unless cover_image}}
        <div class="authorCardLinksContainer">
            {{#if @site.facebook}}
            <a class="icon" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">
                <img src="{{asset "icons/facebook.svg"}}" alt="facebook"/>
            </a>
            {{/if}}
            {{#if @site.twitter}}
            <a class="icon" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">
                <img src="{{asset "icons/twitter.svg"}}" alt="twitter"/>
            </a>
            {{/if}}
        </div>
        {{/unless}}
        <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>
{{/author}}
