<div class="featuredPosts {{#if @site.cover_image}} featuredAndTags {{/if}}">
    {{#is "index"}}
    <div class="featuredNavigation">
        <h2>Navigation</h2>
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    {{/is}}

    {{#is "tag, post, author"}}
    <div class="featuredNavigation notindexpage">
        <h2>Navigation</h2>
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    {{/is}}

    {{#get 'posts'}}
    <h2>Featured</h2>
    <ul>
        {{#foreach posts}}
        {{#if featured}}
        <li><a class="featuredPostsLink" href="{{url}}">{{title}}</a></li>
        {{/if}}
        {{/foreach}}
    </ul>
    {{/get}}


    <h2>Tags</h2>
    {{#get "tags" limit="10"}}
    <ul>
        {{#foreach tags}}
        <li><a href={{url}} class="featuredPostsLink">{{name}}</a></li>
        {{/foreach}}
    </ul>
    {{/get}}

</div>
