<header>
    <div class="{{#unless @site.cover_image}} headerFrame {{/unless}} header">

        {{#if @site.cover_image}}
        <div class="flex-center overflow-hidden headerWithImage">
            <img class="w-100" src="{{@site.cover_image}}" alt=""/>
            <div class="headerWithImageMeta">
                {{#if @site.logo}}
                <img class="siteCardLogo" src="{{@site.logo}}" alt="logo"></img>
                {{/if}}
                <div class="headerMeta">
                    <h2 class="headerTitle">{{@site.title}}</h2>
                    <div class="headerDescription">{{@site.description}}</div>
                </div>
                {{#if @site.navigation}}
                <div class="headerNavigation">
                    {{navigation}}
                </div>
                {{/if}}
            </div>
            <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        {{else}}

        <div class="headerWithoutImage">
            <div class="headerWithoutImageMeta">
                {{#if @site.logo}}
                <img class="siteCardLogo" src="{{@site.logo}}" alt="logo"></img>
                {{/if}}
                <div class="headerMeta">
                    <h2 class="headerTitle">{{@site.title}}</h2>
                    <div class="headerDescription">{{@site.description}}</div>
                </div>
            </div>
            {{#if @site.navigation}}
            <div class="headerNavigation">
                {{navigation}}
            </div>
            {{/if}}
            <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        {{/if}}

    </div>
</header>
