<article class="postCard {{post_class}}">
    <div class="postCardGrid">
        {{#if primary_tag}}
        <a class="postCardLink" href={{primary_tag.url}}>
            <span class="postCardTag">{{primary_tag.name}}</span>
        </a>
        <div class="postCardGridTitle">
            <a class="postCardLink" href={{url}}>
                <h2 class="postCardTitle" style="padding-top: 0">{{title}}</h2>
            </a>

            <div class="postCardMeta">
                {{#primary_author}}
                <a class="postCardLink" href="{{url}}">
                    <div class="postCardAuthorContainer">
                        {{#if profile_image}}
                        <img class="postCardProfileImage" alt="" src="{{img_url profile_image size="xxs"}}"/>
                        {{/if}}
                        <span class="postCardName">{{name}}</span>
                    </div>
                </a>
                <span style="padding: 0 0.2rem;">&#9679</span>
                {{/primary_author}}
                <a href="{{url}}" class="postCardLink">
                    <time class="postCardTime" datetime="{{date created_at format="YYYY-MM-DD"}}">
                        {{date created_at format="DD-MM-YYYY"}}</time>
                </a>

            </div>
        </div>
        {{else}}
        <div class="postCardGridNoPad">
            <a class="postCardLink" href={{url}}>
                <h2 class="postCardTitle" style="padding-top: 0">{{title}}</h2>
            </a>

            <div class="postCardMeta">
                {{#primary_author}}
                <a class="postCardLink" href="{{url}}">
                    <div class="postCardAuthorContainer">
                        {{#if profile_image}}
                        <img class="postCardProfileImage" alt="" src="{{img_url profile_image size="xxs"}}"/>
                        {{/if}}
                        <span class="postCardName">{{name}}</span>
                    </div>
                </a>
                <span style="padding: 0 0.3rem;">&#9679</span>
                {{/primary_author}}
                <a href="{{url}}" class="postCardLink">
                    <time class="postCardTime" datetime="{{date created_at format="YYYY-MM-DD"}}">
                        {{date created_at format="DD-MM-YYYY"}}</time>
                </a>

            </div>
        </div>
        {{/if}}
        <a class="postCardLink textDecNone postCardGridExcerpt" href="{{url}}">
            <section class="postCardExcerpt">
                <p>{{excerpt words="20"}}</p>
            </section>
        </a>

        {{#if feature_image}}
        <a class="postCardImageContainer flex-center postCardGridImage postCardLink" href="{{url}}">
            <img class="postCardImage" srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w,
            {{img_url feature_image size="l"}} 1000w,
            {{img_url feature_image size="xl"}} 2000w" sizes="(min-width: 750px) 1000px, (min-width: 1200px) 1200px, (min-width: 1900px) 1900px, 300px"
                                                       src="{{img_url feature_image size="xs"}}" alt="{{title}}" />
        </a>
        {{else}}
        <a class="noimage postCardImageContainer postCardLink postCardGridImage" href="{{url}}">
            <h2>NO IMAGE</h2>
        </a>
        {{/if}}
    </div>
</article>
