<header class="headerFrame header">
    {{#if primary_tag}}
    <a class="postPagePrimaryTag" href="{{primary_tag.url}}">
        <span class="">{{primary_tag.name}}</span>
    </a>
    {{/if}}
    <h1 class="postPageTitle">{{ title }}</h1>
    <div>
        <time class="postPageDate" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
        </time>
        <span >&#9679</span>
        <span>{{reading_time}}</span>
    </div>
    {{#primary_author}}
    <a class="postPagePrimaryAuthorLink" href="{{ url }}">
        <span class="postPageBy">by</span>
        {{#if profile_image}}
        <img class="postPageAuthorProfileImage"alt="" src="{{img_url profile_image size="xs"}}"/>
        {{/if}}
        <span class="postPageAuthorName">{{ name }}<span>
    </a>
    {{/primary_author}}
    <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
