{{#tag}}
<div class="tagHeader">
    <div class="{{#unless feature_image}} headerFrame {{/unless}} header ">
        {{#if feature_image}}
        <div class="headerWithImage overflow-hidden">
            <img class="tagFeatureImage" src="{{img_url feature_image}}"/>
            <div class="tagInfoContainer">
                <h2 class="tagName">{{name}}</h2>
                {{#if description}}
                <div class="tagDescription">{{description}}</div>
                {{/if}}
            </div>
            <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        {{else}}
        <div class="tagInfo">
            <h2 class="tagName">{{name}}</h2>
            {{#if description}}
            <div class="tagDescription">{{description}}</div>
            {{/if}}
            <button id="navigationButton" class="navigationButton" aria-label="navigationButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        {{/if}}
    </div>
</div>
{{/tag}}
