<!DOCTYPE html>
<html lang="{{@site.lang}}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{{meta_title}}</title>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="{{asset "dist/style.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "dist/prism.css"}}" />

        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <div class="layout">
            {{{body}}}
        </div>

        <footer class="siteFooter">
            <div class="siteFooterContent">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="siteFooterNav">
                    <a href="{{@site.url}}">Latest Posts</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

        {{ghost_foot}}
        <script src="{{asset "dist/prism-min.js"}}" ></script>
        <script src="{{asset "dist/index-min.js"}}" ></script>
        {{#if pagination.pages}}
        <script src="{{asset "dist/infinitescroll-min.js"}}"></script>
        {{/if}}
    </body>
</html>
