{{!< default}}
<main class="mainPage">

    {{> "header" }}

    <div class="mainPageContainer">
        <div class="postFeed">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>

        {{> "featured-posts"}}

    </div>

</main>
