{{!< default}}

{{#post}}
<main class="contentBlock postPage">

    {{> "post-header"}}

    {{#if feature_image}}
    <picture class="postPageImageContainer flex-center">
        <img class="postPageImage" srcset="{{img_url feature_image size="s"}} 300w,
        {{img_url feature_image size="m"}} 600w,
        {{img_url feature_image size="l"}} 1000w,
        {{img_url feature_image size="xl"}} 2000w" sizes="(min-width: 750px) 1000px, (min-width: 1200px) 1200px, (min-width: 1900px) 1900px, 450px"
                                                   src="{{img_url feature_image size="xs"}}" alt="{{title}}" />
    </picture>
    {{/if}}
    <article class="postPageWrapper {{ post_class }}">
        <div class="postPageContainer">

            <section class="postPageContent">
                {{ content }}
            </section>

            <footer class="postFooterContainer">
                {{#if tags}}
                <div class="postFooterTagsContainer">
                    {{tags separator="  "}}
                </div>
                {{/if}}
                <div class="postFooterAuthor">
                    {{#primary_author}}
                    {{#if profile_image}}
                    <img class="postFooterAuthorProfileImage" alt="" src="{{img_url profile_image size="s"}}"/>
                    {{/if}}
                    <a href="{{url}}" class="postFooterAuthorContainer">
                        <span class="postFooterName">{{name}}</span>
                        <span class="postFooterBio">{{bio}}</span>
                    </a>
                    <div class="postFooterSocials">
                        {{#if @site.facebook}}
                        <a class="postFooterSocialLink" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener"><img alt="facebook" src="{{asset "icons/facebook.svg"}}"/></a>
                        {{/if}}
                        {{#if @site.twitter}}
                        <a class="postFooterSocialLink" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener"><img alt="twitter" src="{{asset "icons/twitter.svg"}}"/></a>
                        {{/if}}
                    </div>
                    {{/primary_author}}
                </div>
            </footer>

            <!-- <section id="disqus_thread" class="postComments"> -->
            <!-- </section> -->
        </div>
    {{> "featured-posts"}}


    </article>


    <aside class="otherPostsContainer">
        {{#prev_post}}
        {{> "other-post" prop="prev"}}
        {{/prev_post}}

        {{#next_post}}
        {{> "other-post" prop="next"}}
        {{/next_post}}

    </aside>

    <a href="{{@site.url}}">
        <button class="homeButton">
            home
        </button>
    </a>
</main>
<!-- <script> -->
<!--     const disqus_config = function () { -->
<!--         this.page.url = '{{url absolute="true"}}'; -->  
<!--         this.page.identifier = "ghost-{{comment_id}}" -->
<!--     }; -->
<!--     (function() { -->
<!--         const disqus_website_name = 'origin-ghost-theme' //paste your disqus shortname instead of 'origin-ghost-theme' -->
<!--         const d = document, s = d.createElement('script'); -->
<!--         s.src = `https://${disqus_website_name}.disqus.com/embed.js`; -->
<!--         s.setAttribute('data-timestamp', +new Date()); -->
<!--         (d.head || d.body).appendChild(s); -->
<!--     })(); -->
<!-- </script> -->

{{/post}}
