{{!< default}}

<main class="mainPage">

    {{> "tag-header"}}

    <div class="mainPageContainer">
        <div class=" postFeed">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    {{> "featured-posts"}}
    </div>

        <a href="{{@site.url}}">
            <button class="homeButton">
                home
            </button>
        </a>
</main>

