/* 1. common styles */
/* 2. header partial */
/* 3. index file */
/* 4. navigation */
/* 5. featured posts partial */
/* 6. post card partial */
/* 7. post header partial */
/* 8. post file */
/* 9. home button component */
/* 10. other posts component (prev/next posts) */
/* 11. post footer component (tags and author info)*/
/* 12. post content */
/* 13. author header partial */
/* 14. tag header partial */
/* 15. footer */

/* ------------------------- */
/* 1. common */
/* ------------------------- */
:root {
  --header-frame-bg: white;
  --body-bg: rgba(255, 247, 240, 1);
  --box-color: black;
  --post-text-color: #343f44;
  --post-card-bg: rgba(250, 250, 250, 0.8);
  --post-card-text: rgba(71, 71, 71, 1);
  --info-bg-color: rgba(255, 255, 255, 0.9);
  --tags-bg-color: black;
  --tags-clr: rgba(255, 255, 255, 0.9);
  --nav-button-clr: rgba(74, 74, 74, 1);
  --nav-button-lines: black;
  --post-card-tag-bg-color: black;
  --post-card-border-clr: rgba(120, 120, 120, 1);
  --post-card-boxshdw-clr: rgba(100, 100, 100, 1);
  --post-card-image-outline: rgba(100, 100, 100, 1);
  --post-header-bg-color: white;
  --home-btn-bg: white;
  --home-btn-clr: black;
  --home-btn-border: black;
  --home-btn-boxshdw: gray;
  --other-post-bg: white;
  --other-post-border: black;
  --other-post-ptr-clr: white;
  --other-post-ptr-bg: black;
  --other-post-title-clr: black;
  --footer-bg-color: rgba(255, 255, 255, 0.9);
  --post-page-bg: rgba(255, 255, 255, 0.9);
  --post-page-thead-bg: rgba(255, 247, 240, 1);
  --post-table-border: darkgray;
  --post-code-bg: bisque;
  --post-code-clr: black;
  --post-h-color: black;
  --post-strong-em-color: rgba(0, 0, 0, 0.9);
  --post-a-color: black;
  --post-bq-border: black;
  --post-tr-hover: rgba(100, 100, 100, 0.2);
  --text-decoration-color: coral;
  --margin-between-cards: 15px;
}
html,
body,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
  background: var(--body-bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.layout {
  padding: 0.2rem;
}
.w-100 {
  width: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex !important;
}
.flex-row {
  display: flex !important;
  flex-flow: row wrap;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
@media screen and (min-width: 750px) {
  .layout {
    padding: 0.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .layout {
    padding: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .layout {
    padding: 1rem;
  }
}
/* ------------------------- */
/* end */
/* ------------------------- */

/* ------------------------- */
/* 1. header */
/* ------------------------- */
.header {
  margin-bottom: 2rem;
  min-height: 50px;
}
.headerFrame {
  width: calc(100% - 30px);
  transform: translateX(-6px);
  padding: 4px 6px;
  background: var(--header-frame-bg);
  border: 3px solid var(--box-color);
  box-shadow: 11px 11px var(--box-color);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transform-style: preserve-3d;
  overflow: visible;
}
.headerFrame:after {
  content: '';
  position: absolute;
  background: var(--box-color);
  width: 17px;
  height: 17px;
  left: 1px;
  bottom: -11px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}
.headerFrame:before {
  content: '';
  position: absolute;
  background: var(--box-color);
  width: 15px;
  height: 15px;
  right: -10px;
  top: 1px;
  transform: translateZ(-1px) rotate(45deg);
  z-index: -1;
}
.headerTitle {
  font-size: 2rem;
  font-weight: bold;
}
.headerNavigation {
  display: none;
}
.featuredNavigation {
  display: block;
}
.featuredNavigation .nav {
  display: block;
  padding: 0;
  padding-left: 32px;
  text-align: start;
}
.featuredNavigation .nav li {
  margin: 10px 0;
  text-decoration: underline;
  padding: 0;
}

.headerCoverImage {
  width: 100%;
}
.headerWithImage {
  position: relative;
  max-height: 350px;
}
.headerWithImageMeta {
  background: var(--info-bg-color);
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding: 4px 8px;
  align-items: center;
  max-width: calc(100% - 1em);
}
.siteCardLogo {
  height: 50px;
  width: 50px;
  margin-right: 1em;
}
.headerWithoutImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerWithoutImageMeta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: calc(100% - 100px);
}
.headerMeta {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 20px;
  width: 100%;
}
.headerDescription {
  overflow-wrap: break-word;
  max-width: 100%;
}
@media screen and (min-width: 750px) {
  .siteCardLogo {
    height: 75px;
    width: 75px;
    margin-right: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .headerNavigation {
    display: block;
  }
  .featuredNavigation {
    display: none;
  }
  .featuredNavigation.notindexpage {
    display: block;
  }
  .headerFrame {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .headerWithoutImageMeta {
    display: flex;
  }
  .headerWithImage {
    width: 80%;
    margin: 0 auto;
  }
  .siteCardLogo {
    height: 90px;
    width: 90px;
    margin-right: 1em;
  }
}
@media screen and (min-width: 1600px) {
  .headerNavigation {
    display: block;
  }
  .featuredNavigation {
    display: none;
  }
  .featuredNavigation.notindexpage {
    display: block;
  }
  .headerFrame {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .headerWithImage {
    width: 80%;
    margin: 0 auto;
  }
  .siteCardLogo {
    height: 120px;
    width: 120px;
    margin-right: 1em;
  }
}
/* ------------------------- */
/* header end */
/* ------------------------- */

/* ------------------------- */
/* 3. index */
/* ------------------------- */
.mainPageContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.postFeed {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .mainPageContainer {
    width: 100%;
  }
  .postFeed {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .mainPageContainer {
    width: 80%;
  }
  .postFeed {
    width: 60%;
  }
}
@media screen and (min-width: 1600px) {
  .mainPageContainer {
    width: 70%;
  }
  .postFeed {
    width: 50%;
  }
}
/* ------------------------- */
/* index end */
/* ------------------------- */

/* ------------------------- */
/* 4. navigation */
/* ------------------------- */
.nav {
  text-align: center;
  list-style: none;
  max-height: 60%;
  padding: 1px 8px;
  display: flex;
  flex-flow: row wrap;
}

.nav li {
  padding: 1px 4px;
}
.nav li a {
  color: black;
  text-decoration: none;
}
.nav li a:hover {
  text-decoration: underline;
}
.navigationButton {
  background: var(--info-bg-color);
  color: var(--nav-button-clr);
  cursor: pointer;
  display: block;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin-left: auto;
  border: none;
}
.navigationButton span {
  background-color: var(--nav-button-lines);
  display: block;
  height: 1px;
  left: calc(50% - 10px);
  position: absolute;
  transform-origin: center;
  transition-duration: 100ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 20px;
}

.navigationButton span:nth-child(1) {
  top: calc(50% - 8px);
}

.navigationButton span:nth-child(2) {
  top: calc(50% - 1px);
}

.navigationButton span:nth-child(3) {
  top: calc(50% + 6px);
}

.navigationButton:hover {
  background: rgba(255, 255, 255, 0.7);
}

.navigationButton[active] span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navigationButton[active] span:nth-child(2) {
  opacity: 0;
}

.navigationButton[active] span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media screen and (min-width: 1200px) {
  .navigationButton {
    display: none;
  }
  .nav {
    flex-flow: row nowrap;
    border: none;
    overflow-x: auto;
  }
}
@media screen and (min-width: 1600px) {
  .navigationButton {
    display: none;
  }
  .nav {
    flex-flow: row nowrap;
    border: none;
    overflow-x: auto;
  }
}
/* ------------------------- */
/* navigation end */
/* ------------------------- */

/* ------------------------- */
/* 5. featured posts */
/* ------------------------- */
.featuredPosts {
  overflow: auto;
  display: none;
  border: 1px solid rgba(120, 120, 120, 1);
  position: absolute;
  max-height: 350px;
  width: 70%;
  top: 100px;
  right: 0.5rem;
  padding: 0.4rem;
  background: snow;
  box-shadow: 5px 5px rgba(100, 100, 100, 1);
}
.featuredPosts ul {
  list-style: '\1F525';
}
.featuredPosts ul li {
  padding: 0.2rem;
  cursor: pointer;
}
.featuredPostsLink {
  width: 100%;
  color: black;
}
.featuredPostsLink:hover {
  background: lightgrey;
}
.featuredAndTags {
  top: 70px;
}
@media screen and (min-width: 750px) {
  .featuredPosts.postSection {
    width: 30%;
  }
  .featuredPosts {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .featuredPosts.postSection {
    width: 20%;
  }
  .featuredPosts {
    width: 15%;
    display: block;
    position: sticky;
  }
}
@media screen and (min-width: 1600px) {
  .featuredPosts.postSection {
    width: 20%;
  }
  .featuredPosts {
    width: 15%;
    display: block;
    position: sticky;
  }
}

/* ------------------------- */
/* featured posts end */
/* ------------------------- */

/* ------------------------- */
/* 6. post card */
/* ------------------------- */

.postCard {
  max-height: 200px;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  position: relative;
  margin-bottom: var(--margin-between-cards);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 1rem - 10px);
  background: var(--post-card-bg);
  transition: transform 0.2s ease;
  border: 1px solid var(--post-card-border-clr);
  box-shadow: 5px 5px var(--post-card-boxshdw-clr);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.3s;
  transition-timing-function: ease;
}
.postCard:hover {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px var(--post-card-box-shdw-clr);
}
.postCardImageContainer {
  max-height: 100px;
  /* max-height: 100%; */
  overflow: hidden;
  outline: 1px solid var(--post-card-image-outline);
  object-fit: cover;
}
.postCardImage {
  width: 100%;
  height: auto;
  background: var(--lightgrey) no-repeat center center;
  object-fit: cover;
}
.postPageImageContainer {
  height: auto;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
}
.postPageImage {
  background: var(--lightgrey) no-repeat center center;
}
.postCardGrid {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows: minmax(auto, 25px) minmax(0, auto) auto;
  grid-column-gap: 8px;
  align-items: center;
  grid-template-areas:
    'pad image'
    'title image'
    'excerpt image'
    'excerpt image'
    'excerpt image';
}
.postCardGridTitle {
  grid-area: title;
}
.postCardGridAuthor {
  grid-area: author;
}
.postCardGridNoPad {
  grid-row: pad/title;
}
.postCardGridExcerpt {
  grid-area: excerpt;
}
.postCardGridImage {
  grid-area: image;
  align-self: start;
}
.postCardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: black;
}
.postCardAuthorContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.postCardTime {
  text-decoration: none;
}
.postCardProfileImage {
  width: 15px;
  margin-right: 0.2em;
}
.postCardTag {
  position: absolute;
  padding: 3px 5px;
  background: var(--post-card-tag-bg-color);
  color: white;
  top: 0;
  left: 0;
  border: 1px solid var(--post-card-tag-bg-color);
  max-height: 30px;
}
.postCardTag:hover {
  background: white;
  border: 1px solid var(--post-card-tag-bg-color);
  color: black;
}
.postCardLink {
  color: var(--post-card-text);
  text-decoration: none;
}
.postCardLink:hover {
  color: black;
  text-decoration: underline black;
}
.postCardExcerpt {
  width: 100%;
  font-size: 90%;
  color: var(--post-card-text);
  overflow: hidden;
  max-height: 50px;
}
.postCardExcerpt p {
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
}
.postCardMeta {
  font-weight: 400;
  font-size: 80%;
  font-style: italic;
  color: var(--post-card-text);
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0.2rem;
}
a.postCardLink.textDecNone:hover {
  text-decoration: none;
}
.noimage {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noimage h2 {
  font-weight: 900;
}
@media screen and (min-width: 750px) {
  .postCardImageContainer {
    max-height: 200px;
  }
  .postCardTextContainer {
    font-size: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .postCardTextContainer {
    font-size: 100%;
  }
  .postCardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
  }
}
@media screen and (min-width: 1600px) {
  .postCardTextContainer {
    font-size: 100%;
  }
  .postCardImageContainer {
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-height: 1000px) {
  .postCardImage {
    max-height: 1000px;
  }
}
@media screen and (min-height: 2000px) {
  .postCardImage {
    max-height: 2000px;
  }
}
/* ------------------------- */
/* post card end */
/* ------------------------- */

/* ------------------------- */
/* 7. post header */
/* ------------------------- */
.postPagePrimaryAuthorLink {
  text-decoration: none;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}
.postPagePrimaryAuthorLink:hover {
  background: lightgray;
}
.postPageBy {
  margin-right: 0.3em;
}
.postPagePrimaryTag {
  background: var(--tags-bg-color);
  color: var(--tags-clr);
  border: 3px solid var(--tags-bg-color);
  padding: 4px 6px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0.3rem;
}
.postPagePrimaryTag:hover {
  background: var(--tags-clr);
  color: var(--tags-bg-color);
  border: 3px solid var(--tags-bg-color);
}
.postPageAuthorProfileImage {
  width: 30px;
  margin: 0 5px;
}
.postPageAuthorName {
  font-weight: 700;
}
/* ------------------------- */
/* post header end */
/* ------------------------- */

/* ------------------------- */
/* 8. post page */
/* ------------------------- */
.postPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.postPageWrapper {
  margin-bottom: 20px;
  width: 100%;
}
.postComments {
  width: 100%;
}
.postPageContainer {
  width: calc(100% - 6px);
  background: var(--post-page-bg);
  padding-top: 10px;
  padding: 10px 3px;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .postComments {
    width: 90%;
    margin: 0 auto;
  }
  .postPageContainer {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .postPageWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
  }
  .postPageContainer {
    width: 75%;
    margin: 0;
  }
  .postComments {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .postPageWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
  }
  .postPageContainer {
    width: 75%;
  }
  .postComments {
    width: 90%;
    margin: 0 auto;
  }
}

/* ------------------------- */
/* post page end */
/* ------------------------- */

/* ------------------------- */
/* 9. home button */
/* ------------------------- */
.homeButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background: var(--home-btn-bg);
  color: var(--home-btn-clr);
  border: 3px solid var(--home-btn-border);
  box-shadow: 4px 4px var(--home-btn-boxshdw);
  z-index: 1;
  font-size: 0.9em;
  padding: 2px;
}
.homeButton:active {
  box-shadow: 1px 1px var(--home-btn-boxshdw);
  transition: all 0.1s ease;
}
.homeButton:hover {
  cursor: pointer;
  left: 7px;
  bottom: 13px;
  box-shadow: 7px 7px var(--home-btn-boxshdw);
  transition: all 0.2s ease;
}
.homeButton a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
/* ------------------------- */
/* home button end */
/* ------------------------- */

/* ------------------------- */
/* 10. other posts*/
/* ------------------------- */
.otherPostsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 70%;
  width: 100%;
}
.otherPost {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: var(--other-post-bg);
  border: 3px solid var(--other-post-border);
  padding: 4px 6px;
  text-align: center;
  width: 35%;
  margin-bottom: 0.5em;
  position: relative;
  height: 75px;
  padding-left: 2rem;
}
.otherPost a {
  color: black;
  text-decoration: none;
}
.otherPostTitle {
  font-size: 1.2rem;
  margin-bottom: 1px;
  color: var(--other-post-title-clr);
  text-align: center;
  width: 100%;
}
.otherPostPointer {
  position: absolute;
  font-size: 1rem;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  text-align: center;
  color: var(--other-post-ptr-clr);
  background: var(--other-post-ptr-bg);
  padding: 0 6px;
  height: 100%;
}
@media screen and (min-width: 750px) {
  .otherPostsContainer {
    width: 80%;
  }
  .otherPost {
    width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .otherPostsContainer {
    width: 70%;
    font-size: 90%;
  }
  .otherPost {
    width: 35%;
  }
}
@media screen and (min-width: 1600px) {
  .otherPostsContainer {
    width: 60%;
    font-size: 100%;
  }
}
/* ------------------------- */
/* other posts end */
/* ------------------------- */

/* ------------------------- */
/* 11. post footer */
/* ------------------------- */
.postFooterContainer {
  width: calc(100% - 16px);
  padding: 8px;
  height: auto;
  margin-bottom: 10px;
  clear: both;
}
.postFooterTagsContainer {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: wrap;
}
.postFooterTagsContainer:last-of-type {
  margin-right: 0;
}
.postFooterTagsContainer a {
  background: var(--tags-bg-color);
  color: var(--tags-clr);
  border: 3px solid var(--tags-bg-color);
  padding: 4px 6px;
  text-decoration: none;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.postFooterTagsContainer > a:hover {
  background: var(--tags-clr);
  color: var(--tags-bg-color);
  border: 3px solid var(--tags-bg-color);
}
.postFooterAuthorProfileImage {
  width: 50px;
  margin-right: 10px;
}
.postFooterAuthorContainer {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100px;
  text-decoration: none;
  color: black;
}
.postFooterAuthorContainer:hover {
  text-decoration: underline;
}
.postFooterAuthor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.postFooterName {
  font-weight: 900;
  font-size: 110%;
}
.postFooterBio {
  color: rgba(0, 0, 0, 0.9);
  font-size: 90%;
}
.postFooterSocialLink img {
  width: 20px;
}
@media screen and (min-width: 750px) {
  .postFooterContainer {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .postFooterContainer {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .postFooterContainer {
    width: 80%;
    margin: 0 auto;
  }
}
/* ------------------------- */
/* post footer end */
/* ------------------------- */

/* ------------------------- */
/* 12. post page content */
/* ------------------------- */
.postPageContent {
  background: var(--post-page-bg);
  width: 100%;
}
.postPageContent p,
.postPageContent ul,
.postPageContent ol,
.postPageContent blockquote {
  line-height: 1.5em;
  font-size: 17px;
}
.postPageContent code {
  background: var(--post-code-bg);
  padding: 4px;
  color: var(--post-code-clr);
}
.postPageContent pre code {
  background: none;
}
.postPageContent a {
  color: var(--post-a-color);
}
.postPageContent a:hover {
  text-decoration-color: var(--text-decoration-color);
}
.postPageContent figure img {
  margin: 0;
}
.postPageContent img {
  width: 100%;
}
.postPageContent code * {
  font-size: 0.9em;
}
.postPageContent iframe {
  width: 100%;
}
.postPageContent figcaption {
  font-size: 80%;
  line-height: 1.6em;
  text-align: center;
}
.postPageContent iframe[src*='player.vimeo.com'],
iframe[src*='youtube.com'],
iframe[src*='youtube-nocookie.com'],
iframe[src*='kickstarter.com'][src*='video.html'] {
  max-width: 750px;
}
.postPageContent blockquote {
  border-left: 3px solid var(--post-bq-border);
  padding-left: 10px;
}
.postPageContent h1,
.postPageContent h2,
.postPageContent h3,
.postPageContent h4,
.postPageContent h5,
.postPageContent h6 {
  color: var(--post-h-color);
}
.postPageContent h1 {
  line-height: 32px;
  font-size: 2em;
}
.postPageContent strong,
.postPageContent em {
  color: var(--post-strong-em-color);
}
.postPageContent ul,
.postPageContent ol,
.postPageContent li,
.postPageContent p,
.postPageContent em,
.postPageContent td,
.postPageContent figcaption,
.postPageContent blockquote {
  color: var(--post-text-color);
}
.postPageContent table {
  margin: 2px auto;
  border-collapse: collapse;
  font-size: 17px;
  line-height: 1.5em;
}
.postPageContent thead {
  background: var(--post-page-thead-bg);
}
.postPageContent td,
.postPageContent th,
.postPageContent table {
  border: 1px solid var(--post-table-border);
}
.postPageContent tr:hover {
  background: var(--post-tr-hover);
}
.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}
.kg-image-card,
.kg-gallery-card {
  margin: 0 0 1.5em;
}
.kg-width-wide {
  width: 100%;
}
.kg-width-full {
  width: 100%;
}
.kg-width-full figcaption {
  padding: 0 1.5em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em;
}
@media screen and (min-width: 750px) {
  .postPageContent {
    width: 90%;
    margin: 0 auto;
  }
  .postPageContent p,
  .postPageContent ul,
  .postPageContent ol,
  .postPageContent blockquote {
    font-size: 18px;
  }
  .postPageContent table {
    font-size: 18px;
  }
  .kg-width-wide {
    position: relative;
    width: 110%;
    min-width: 100%;
    right: 50%;
    float: right;
  }
  .kg-width-wide .kg-image {
    position: relative;
    right: -50%;
  }
  .kg-width-wide figcaption {
    position: relative;
    right: -50%;
  }

  .kg-width-wide .kg-gallery-container {
    position: relative;
    right: -50%;
  }

  .kg-width-full {
    position: relative;
    width: calc(116%);
    right: 50%;
    float: right;
  }
  .kg-width-full .kg-image {
    position: relative;
    right: -50%;
  }
  .kg-width-full figcaption {
    padding: 0 1.5em;
    position: relative;
    right: -50%;
  }
}
@media screen and (min-width: 1200px) {
  .postPageContent table {
    font-size: 19px;
  }
  .postPageContent p,
  .postPageContent ul,
  .postPageContent ol,
  .postPageContent blockquote {
    font-size: 19px;
  }
  .postPageContent {
    width: 90%;
    margin: 0 auto;
  }
  .kg-width-wide {
    position: relative;
    width: 110%;
    min-width: 100%;
    right: 50%;
    float: right;
  }
  .kg-width-wide .kg-image {
    position: relative;
    right: -50%;
  }
  .kg-width-wide figcaption {
    position: relative;
    right: -50%;
  }

  .kg-width-wide .kg-gallery-container {
    position: relative;
    right: -50%;
  }

  .kg-width-full {
    position: relative;
    width: 130%;
    right: 50%;
    float: right;
  }
  .kg-width-full .kg-image {
    position: relative;
    right: -50%;
  }
  .kg-width-full figcaption {
    padding: 0 1.5em;
    position: relative;
    right: -50%;
  }
}
@media screen and (min-width: 1600px) {
  .postPageContent table {
    font-size: 20px;
  }
  .postPageContent {
    width: 80%;
    margin: 0 auto;
  }
  .postPageContent p,
  .postPageContent ul,
  .postPageContent ol,
  .postPageContent blockquote {
    font-size: 21px;
  }
}
/* ------------------------- */
/* post page content end */
/* ------------------------- */

/* ------------------------- */
/* 13. author header */
/* ------------------------- */
.authorCardWrapper {
  padding: 8px;
}
.authorCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.authorCardContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.authorInfoContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.authorCardLogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.authorWithLogo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.authorCardLinksContainer {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.authorCardLinksContainer img {
  width: 20px;
}
.authorHeaderWithoutImage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.authorCoverContainer {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorCoverImage {
  width: 100%;
}
.authorContainer {
  width: calc(100% - 18px - 0.5em);
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  background: var(--info-bg-color);
  font-size: 70%;
}
@media screen and (min-width: 750px) {
  .authorCard {
    width: 80%;
  }
  .authorContainer {
    font-size: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .authorCard {
    width: 70%;
  }
  .authorContainer {
    font-size: 90%;
  }
}
@media screen and (min-width: 1600px) {
  .authorCard {
    width: 60%;
  }
  .authorContainer {
    font-size: 100%;
  }
}

/* ------------------------- */
/* author header end */
/* ------------------------- */

/* ------------------------- */
/* 14. tag header */
/* ------------------------- */
.tagHeader {
  padding: 8px;
}
.tagFeatureImage {
  width: 100%;
}
.tagName {
  margin: 0;
}
.tagInfoContainer {
  padding: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  background: var(--info-bg-color);
}
.tagContainer {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagCardContainer {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 750px) {
  .tagCardContainer {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .tagCardContainer {
    width: 70%;
  }
}
@media screen and (min-width: 1600px) {
  .tagCardContainer {
    width: 60%;
  }
}
/* ------------------------- */
/* tag header end */
/* ------------------------- */

/* ------------------------- */
/* 15. footer */
/* ------------------------- */
.siteFooter {
  height: 60px;
  padding: 8px;
  background: var(--footer-bg-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.siteFooterContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}
.copyright {
  font-weight: 700;
  line-height: 2em;
}
.siteFooterContent a {
  color: black;
  text-decoration: none;
}
.siteFooterContent a:hover {
  color: black;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  .siteFooter {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .siteFooter {
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .siteFooter {
    width: 80%;
  }
}
/* ------------------------- */
/* end footer */
/* ------------------------- */
